
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"-->
<!--        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
    <title>ADD Project</title>
</h:head>
<f:metadata>
    <f:viewAction action = "#{projectBean.load(null)}"/>
</f:metadata>
<h:body>
    <h:form id="newProjectForm">
        <div>
        <h:outputLabel for="name" value="NAME"/>
        <br/>
        <h:inputText id="name" value="#{projectBean.currentProject.name}"/>
        </div>
        <div>
            <h:outputLabel for="description" value="DESCRIPTION"/>
            <br/>
            <h:inputText id="description" value="#{projectBean.currentProject.description}"/>
        </div>
        <p:commandButton  value="Create project" action="#{projectBean.updateProject(projectBean.currentProject)}" style="margin-right:20px;" styleClass="ui-priority-primary" />
<!--        <h:commandButton value="Create project" action="#{projectBean.updateProject(projectBean.currentProject)}" style="margin-right:20px;" >-->
<!--        </p:commandButton>-->
    </h:form>
</h:body>
</html>
