
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"-->
<!--        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>EDIT TASK</title>
</h:head>
<f:metadata>
    <f:viewParam name="id" value="id"/>
    <f:viewAction action ="#{taskBean.load(id)}"/>
</f:metadata>
<h:body>
    <h:form id="editTaskForm">
        <div>
            <h:outputLabel for="name" value="NAME"/>
            <br/>
            <h:inputText id="name" value="#{taskBean.currentTask.name}"/>
        </div>
        <div>
            <h:outputLabel for="projectId" value="PROJECT ID"/>
            <br/>
            <h:inputText id="projectId" value="#{taskBean.currentTask.projectId}"/>
        </div>
        <div>
            <h:outputLabel for="description" value="DESCRIPTION"/>
            <br/>
            <h:inputText id="description" value="#{taskBean.currentTask.description}"/>
        </div>
        <div>
            <h:outputLabel for="dateAdd" value="DATE ADD"/>
            <br/>
            <h:inputText type="date" id="dateAdd" value="${taskBean.currentTask.dateAdd}">
                <f:convertDateTime pattern="yyyy-MM-dd"/>
            </h:inputText>
        </div>
        <div>
            <h:outputLabel for="dateStart" value="DATE START"/>
            <br/>
            <h:inputText type="date" id="dateStart" value="${taskBean.currentTask.dateStart}">
                <f:convertDateTime pattern="yyyy-MM-dd"/>
            </h:inputText>
        </div>
        <div>
            <h:outputLabel for="dateFinish" value="DATE FINISH"/>
            <br/>
            <h:inputText type="date" id="dateFinish" value="${taskBean.currentTask.dateFinish}" >
                <f:convertDateTime pattern="yyyy-MM-dd"/>
            </h:inputText>
        </div>
        <h:outputLabel for="displayName" value="STATUS"/>
        <br/>
        <h:selectOneMenu id="displayName" value="${taskBean.currentTask.displayName}" style="width: 8%">
            <f:selectItem itemLabel="select one type"/>
            <f:selectItem itemValue="SCHEDULE"/>
            <f:selectItem itemValue="PROGRESS"/>
            <f:selectItem itemValue="DONE"/>
        </h:selectOneMenu>
        <br/>
        <p:commandButton value="Save Project" action="#{taskBean.updateTask(taskBean.currentTask)}" style="margin-right:20px;" styleClass="ui-priority-primary" />
    </h:form>
</h:body>
</html>
