
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"-->
<!--        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>EDIT Project</title>
</h:head>
<f:metadata>
    <f:viewParam name="id" value="id"/>
    <f:viewAction action ="#{projectBean.load(id)}"/>
</f:metadata>
<h:body>
    <h:form id="editProjectForm">
        <div>
            <h:outputLabel for="name" value="NAME"/>
            <br/>
            <h:inputText id="name" value="#{projectBean.currentProject.name}"/>
        </div>
        <div>
            <h:outputLabel for="description" value="DESCRIPTION"/>
            <br/>
            <h:inputText id="description" value="#{projectBean.currentProject.description}"/>
        </div>
        <div>
            <h:outputLabel for="dateAdd" value="DATE ADD"/>
            <br/>
            <h:inputText type="date" id="dateAdd" value="${projectBean.currentProject.dateAdd}">
            <f:convertDateTime pattern="yyyy-MM-dd"/>
            </h:inputText>
        </div>
        <div>
            <h:outputLabel for="dateStart" value="DATE START"/>
            <br/>
            <h:inputText type="date" id="dateStart" value="${projectBean.currentProject.dateStart}">
            <f:convertDateTime pattern="yyyy-MM-dd"/>
            </h:inputText>
        </div>
        <div>
            <h:outputLabel for="dateFinish" value="DATE FINISH"/>
            <br/>
            <h:inputText type="date" id="dateFinish" value="${projectBean.currentProject.dateFinish}" >
            <f:convertDateTime pattern="yyyy-MM-dd"/>
            </h:inputText>
        </div>
        <h:outputLabel for="displayName" value="STATUS"/>
        <br/>
        <h:selectOneMenu id="displayName" value="${projectBean.currentProject.displayName}" style="width: 8%">
            <f:selectItem itemLabel="select one type"/>
            <f:selectItem itemValue="SCHEDULE"/>
            <f:selectItem itemValue="PROGRESS"/>
            <f:selectItem itemValue="DONE"/>
        </h:selectOneMenu>
        <br/>
        <p:commandButton value="Save Project" action="#{projectBean.updateProject(projectBean.currentProject)}" style="margin-right:20px;" styleClass="ui-priority-primary" />
    </h:form>
</h:body>
</html>
